<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @company.Department %>
</p>

<p>
  <strong>Did:</strong>
  <%= @company.Did %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
